/node_modules

/secrets/use/**
/secrets/src/**
!/secrets/src/example-secrets.yaml

/local.yaml

/dist/*
/temp/*

# exclude build and project stuff
/.buildpath
/.project
/.settings
*.sublime*

# exclude the .gitignore in the scripts folder, so our forks will be able to save their versions in their repos
/scripts/.gitignore

/public_html/application/languages
